// fonts
$font1: 'Roboto', sans-serif;
$font2: 'Raleway', sans-serif;

// base colors
$color1: #b40036;
$color2: #ff226b;

@mixin transition($type: all, $duration: 0.3s, $ease: ease-out) {
  -webkit-transition: $type $duration $ease;
  -moz-transition: $type $duration $ease;
  -o-transition: $type $duration $ease;
  transition: $type $duration $ease;
}

@mixin grid($cols, $mrgn) {
  float: left;
  margin-right: $mrgn;
  margin-bottom: $mrgn;
  width: ((100% - (($cols - 1) * $mrgn)) / $cols);
  &:nth-child(#{$cols}n) {
    margin-right: 0;
  }
}
